*{
  text-align: center;
  box-sizing: content-box;
}

.top-container {
  position: relative;
  width:99%;
  height:99%;
  background-color: red;
  margin: 2%;
  padding: 1%;
  padding-bottom: 90%;
  border-style: groove;
  border-width: thick;
  border-color: #000;
  z-index: 0;
}

#logo {
  position: relative;
  float: left;
  margin-right: 75%;
  margin-bottom: 2%;
  padding: 1%;
  margin-bottom: 1%;
  z-index: 1;
}

#about {
  position: relative;
  float: left;
  padding: -10%;
  margin-top: 1%;
  margin-bottom: -4%;
  z-index: 1;
}

.info-container {
  float: left;
  position: relative;
  width: 70%;
  height: 15%;
  background-color: pink;
  margin: 1%;
  padding: 1%;
  margin-top: 11%;
  margin-left: 13%;
  margin-bottom: 15%;
  z-index: 2;
}

.invisible-container {
  position: relative;
  float: right;
  width: 90%;
  height: auto;
  background-color: green;
  margin-top: 1%;
  margin-bottom: 2%;
  margin: 10%;
  margin-right: 6%;
  margin-top:1%;
  padding-top: 2%;
  padding-bottom: 1%;
  border-width: 5px;
  border-color: #000;
  z-index: 1;
}

.return-size {
  width: 150px;
  height: 20px;
  z-index: 2;
  background-color: yellow;
border-style: groove;
border-width: thick;
border-color: #000;
float: left;
margin: 5%;
padding: 10%;
}

#poster {
  width:10%;
  max-height: 20%;
  min-height: 10%;
height:auto;
}

#movie-data {
width:25%
}

#user-review {

}

#twitter-feed {

}
