*{
  text-align: center;
  box-sizing: content-box;
}
.navigation {
  margin:0 auto;
  position:relative;
  background-color: red;
  border:1px solid black;
}
.main {
  margin:0 auto;
  position:relative;
  width:100%;
  height:100%;
  background-color: red;
  border:1px solid black;
  z-index: 0;
}
.search {
  margin:0 auto;
  background-color:white;
  z-index: 2;
  margin-top:10%;
}
#logo {
  position: relative;
  float: left;
  margin-right: 75%;
  margin-bottom: 2%;
  padding: 1%;
  margin-bottom: 1%;
  z-index: 1;
}

#about {
  position: relative;
  float: left;
  padding: -10%;
  margin-top: 1%;
  margin-bottom: -4%;
  z-index: 1;
}

.invisible-container {
  position: relative;
  float: right;
  width: 90%;
  height: auto;
  background-color: green;
  margin-top: 1%;
  margin-bottom: 2%;
  margin: 10%;
  margin-right: 6%;
  margin-top:1%;
  padding-top: 2%;
  padding-bottom: 1%;
  border-width: 5px;
  border-color: #000;
  z-index: 1;
}

.return-size {
  width: 150px;
  height: 20px;
  z-index: 2;
  background-color: yellow;
border-style: groove;
border-width: thick;
border-color: #000;
float: left;
margin: 5%;
padding: 10%;
}

#poster {
  width:10%;
  max-height: 20%;
  min-height: 10%;
height:auto;
}

#movie-data {
width:25%
}

#user-review {

}

#twitter-feed {

}
